html {
  box-sizing: border-box;
  font-family: "'Source Sans Pro'", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #fff;
}

header {
  background: #d3d4d9;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}
